<%= @country.name %>へようこそ！




<div>飛行機を選ぼう
<ul>

<li> 飛行機A</li>
<li> 飛行機B</li>
<li> 飛行機C </li>
</ul>
<div>
<%= link_to "飛行機を選ぶ", new_country_plane_path(@country.id) %> 
</div>
<div>
<%= link_to "国を選びなおす", edit_country_path(@country.id) %> 
</div>
<div>
<%= link_to "トップページに戻る", country_path(@country.id), method: :delete %> ＊注意！これまでの情報は破棄されます。
</div>

</div>