<%= render "shared/header" %>
<div>ようこそ東南アジアへ
<ul>

<li> タイ</li>
<li> カンボジア</li>
<li> ベトナム </li>
<li> マレーシア </li>
<li> シンガポール </li>
</ul>

<%= link_to "国を選ぶ", new_country_path %>

  <div>
  国診断テストを受ける
  <a href="/static_pages/quiz"> Quiz</a>
  </div>
<% if user_signed_in?%>
<%= link_to "購入履歴をみる", user_path(current_user.id) %>
<% end %>
</div>