<div>
<%= link_to "飛行機を選ぶ", country_planes_path(@country.id) %> 
</div>
<div>
<%= link_to "国を選びなおす", edit_country_path(@country.id) %> 
</div>
<div>
<%= link_to "トップページに戻る", country_path(@country.id), method: :delete %> ＊注意！これまでの情報は破棄されます。
</div>